/* fonts */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
}

.navtitle {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 45px;
   font-weight: 800;
}

.navtitle-r {
    color: #FD6E0A;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
 }

 nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 nav li {
    list-style:none ;
    margin-left: 70px;
}

 nav a {
    text-decoration: none;
    color:black ;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
   
 }

 .btn-primary {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    border: 0;
} 
 .banner-button-cv {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: Open Sans;
    font-size: 17px;
    color :#fff;
    border: 0;
    padding: 15px;
    align-items: center;
    display: flex;
} 

 .banner-greeting {
    color: #474747;
    font-size: 45px;
    font-family: Poppins ;
    font-style: normal; 
    line-height: normal;
    margin-bottom: 0 ;
}

.banner-name {
    color: #181818;
    font-family:'Open Sans', sans-serif ;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.banner-description{
    color:#333;
    font-family:'poppins', sans-serif ;
    font-size: 18px;
    font-style: normal;
    line-height: 30px; 
    width: 585px;
    margin-bottom: 25px;
}
 .but {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    
 }

 .header {
    background: #fff;
 }

 .banner {
    padding: 30px 40px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .banner-imformation-container {
    display: block;
    }

 .banner-button-contacts {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: Open Sans;
    font-size: 17px;
    color :#fff;
    border: 0;
    padding: 15px 35px 15px 35px;
    align-items: center;
    display: flex;
 }

 .buttonsofbanner {
    display: flex;
    gap: 30px ;
 }

 .header {
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-title {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 15px;
}

.section-description {
   color:#333;
   font-family:'poppins', sans-serif ;
   font-size: 18px;
   margin-bottom: 47px;
}
   
.info-title {
   font-family:'poppins', sans-serif ;
   font-size: 17px;
   color:#757575 ;
}

.himu {
  color:#474747;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.section-one {
  padding: 150px 160px 135px 160px;
  width: 1140px;
  height: 270px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 131px auto ;
}

.about-section-information-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
} 

.section-one-welcome {
  text-align: center;
}


