/* fonts */
 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
}

.navtitle {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 45px;
   font-weight: 800;
}

.navtitle-r {
    color: #FD6E0A;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
 }

 nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 nav li {
    list-style:none ;
    margin-left: 70px;
}

 nav a {
    text-decoration: none;
    color:black ;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
   
 }

 .btn-primary {
    width: 150px;
    height: 60px;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    border: 0;
} 
 .banner-button-cv {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: Open Sans;
    font-size: 17px;
    color :#fff;
    border: 0;
    padding: 15px;
    align-items: center;
    display: flex;
} 

 .banner-greeting {
    color: #474747;
    font-size: 45px;
    font-family: Poppins ;
    font-style: normal; 
    line-height: normal;
    margin-bottom: 0 ;
}

.banner-name {
    color: #181818;
    font-family:'Open Sans', sans-serif ;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
}

.banner-description{
    color:#333;
    font-family:'poppins', sans-serif ;
    font-size: 18px;
    font-style: normal;
    line-height: 30px; 
    width: 585px;
    margin-bottom: 25px;
}
 .but {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    
 }

 .header {
    background: #fff;
 }

 .banner {
    padding: 30px 40px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .banner-imformation-container {
    display: block;
    }

 .banner-button-contacts {
    width: 200px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: Open Sans;
    font-size: 17px;
    color :#fff;
    border: 0;
    padding: 15px 35px 15px 35px;
    align-items: center;
    display: flex;
 }

 .buttonsofbanner {
    display: flex;
    gap: 30px ;
 }

 .header {
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-title {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 30px;
}

.section-description {
   color:#333;
   font-family:'poppins', sans-serif ;
   font-size: 18px;
   margin-bottom: 40px;
}
   
.info-title {
   font-family:'poppins', sans-serif ;
   font-size: 17px;
   color:#757575 ;
}

.himu {
  color:#474747;
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.section-one {
  padding: 150px 160px 135px 160px;
  width: 1140px;
  height: 270px;
  border-radius: 10px;
  background: #FFF8F3;
  margin: 131px auto ;
}

.about-section-information-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
} 

.section-one-welcome {
  text-align: center;
}

.section-two-title {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 25px;
   text-align: center;
}

.section-two-description {
   color:#333;
   font-family:'poppins', sans-serif ;
   font-size: 18px;
   margin-bottom: 60px;
   text-align: center;
   padding: 0 300px;
}

.skills-container{
   display: flex;
   padding:0 340px;
   justify-content: space-between;
   gap: 25px;
}

.skill {
   padding: 30px 40px;
   border-radius: 5px;
   background: #FFF ;
   box-shadow:  0px 6px 50px 0px rgba(0, 0, 0, 0.06); 
   /*border: #333 1px solid;*/
}

.skill-title {
   color : #333;
   font-family:'Open Sans', sans-serif;
   font-size: 25px;
   margin-bottom: 10px;
   margin-top: 5px;
}

.skill-description {
   color:#333;
   font-family:'poppins', sans-serif ;
   font-size: 16px;
}

.section-two {
   margin-bottom: 131px;
}

.section-three-title {
   color :#181818;
   font-family:'Open Sans', sans-serif;
   font-size: 35px;
   font-weight: 700;
   margin-bottom: 113px;
   text-align: center;
}

.right-title,
.left-title {
   color: #333;
   font-family: 'Open Sans';
   font-size: 30px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 30px;
}

.resume {
   display: flex;
   align-items: center;
   justify-content: space-between;
   
}
 .section-three {
   padding: 0 335px;
   margin-bottom: 131px;
 }

 .imu {
   color: #474747;
   font-family: 'Open Sans';
   font-size: 25px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   margin-bottom: 10px;
 }

 .mahinur {
   color:#757575;
   font-family: 'Open Sans';
   font-size: 20px;
   font-style: normal;
   line-height: normal;
   margin-bottom: 15px;
 }

 .maimuna {
   color:#757575; 
   font-family: poppins;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 28px; 
   width: 511px;
 }

 .education,
 .experiences {
   margin-bottom: 30px;
}

hr {
   margin-bottom: 30px;
   margin-top: 30px;
}

.sura {
   width: 200px;
   height: 64px;
   border-radius: 5px;
   background: #FD6E0A;
   align-items: center;
   display: flex;
   color: #fff;
   font-family: 'poppins';
   font-size: 17px;
   padding: 5px 5px 5px 15px;
   margin: 60px auto;
}

footer {
   display: flex;
   gap: 100px;
   background: #FFF8F3;
   margin-top: 100px;
   padding: 130px 200px;
}

.footer-column {
   width: 50%;
}

.social-links a{
   margin-right: 25px;
}

.contact input[type="text"], .contact input[type="email"],
textarea {
   display: block;
   margin-bottom: 25px;
   padding: 18px 35px;
   color: #757575;
   border-radius: 5px;
   background: #FFF;
   border: 0;
   width: 100%;
}

